<app-navbar></app-navbar>

<section id="forgot-password-confirmation" class="mt-5">
  <div class="container d-flex justify-content-center">
    <div class="forgot-password d-flex flex-column text-center">
      <i class="fa-solid fa-check text-success"></i>
      <h2 class="fw-semibold">Forgot Password Confirmation</h2>
      <p class="text-secondary">
        As per your request, you will receive an email with a temporary
        password. Use this password to login. Once logged in, you will be able
        to change your password.
      </p>
      <div class="wrapper">
        <button class="btn btn-primary mt-3" routerLink="">Back To Home</button>
      </div>
    </div>
  </div>
</section>
