<app-navbar></app-navbar>

<section id="registration-confirmation" class="mt-5">
  <div class="container d-flex justify-content-center">
    <div class="confirmation d-flex flex-column text-center">
      <i class="fa-solid fa-check text-success"></i>
      <h2 class="fw-semibold">Thank You For Your Registration</h2>
      <p class="text-secondary">
        We have send you an confirmation email to
        <span class="text-primary">email@email.com</span> Please confirm your
        email address to activate your account
      </p>
      <div class="wrapper">
        <button class="btn btn-primary mt-3" routerLink="">CONTINUE</button>
      </div>
    </div>
  </div>
</section>
